@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600&display=swap');
body{
    background: teal;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}
.left{
    display: inline-block;
    width: 70%;
}
.right{
    display: inline-block;
    width: 30%;
    background: rgba(220, 20, 60, 0.74);
    float: right;
}
#nav-home-tab:hover, #nav-gym-tab:hover{
    color: white;
}
.left h1{
    margin-left: 1%;
    display: block;
}
#formheading{
    margin-top: 45%;
    margin-left: 3%;
}
#name, #formsubmission{
    padding: 2%;
    margin-left: 15%;
    margin-top: 15%;
    margin-bottom: 11%;
    width: 50%;
}
#formsubmission{
    margin-bottom: 15%;
}
#bmi{
    padding: 2%;
    margin-left: 15%;
    margin-bottom: 5%;
    width: 50%;
}
#title{
    margin: 10% 15% -1% 5%;
    color: rgb(153, 234, 240);
    font-weight: 600;
}
#subtitle{
    margin-left: 5%;
    font-size: 300%;
    margin-top: 5%;
}
#lifestylecard{
    margin-left: 5%;
}
#calprogress{
    max-width: 28rem;
    margin-left: 5%;
    margin-top: 1%;
    background-color: rgba(219, 68, 99, 0.74);
}
#caltext{
    background-image: linear-gradient(to left,transparent,transparent 50%,rgb(240, 181, 92) 50%,rgb(240, 181, 92));
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;
}
#calintm{
    position: absolute;
    left: 7%; 
    top: 40%; 
    color: rgb(0, 0, 0); 
    font-size: 1rem;
    font-weight: 400;
}
#calintf{
    position: absolute;
    left: 7%; 
    top: 50%; 
    color: rgb(0, 0, 0); 
    font-size: 1rem;
    font-weight: 400;
}
#exercisecard{
    margin-left: 5%;
    margin-top: 1%;
    padding: 2%;
}
.card-group{
    width: 88rem;
    margin-left: 5%;
}
.hw{
    background: #c0fc58;
}
.gw{
    background: #ff7474;
    color: white;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #c0fc58;
    -webkit-transition: .4s;
    transition: .4s;
  }
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: black;
    -webkit-transition: .4s;
    transition: .4s;
  }
input:checked + .slider {
    background-color: #ff7474;
  }
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
.slider.round {
    border-radius: 34px;
  }
  
.slider.round:before {
    border-radius: 50%;
  }

.excard{
    transition: .2s;
}
.excard:hover{
    transform: scale(1.06);
    background: mediumturquoise;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
#dietcard{
    width: 44rem;
    margin-left: 5%;
    margin-top: 1%;
    display: inline-block;
}
.list-group-item{
    transition: .2s;
    background-color: thistle;
}
.list-group-item:hover{
    transform: scale(1.06);
    background: mediumturquoise;
}
#swedist{
    width: 88rem;
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: 3%;
}
#content1{
    display: block;
}
#content2{
    display: none;
}
.exlist{
    display: none;
}
@media screen and (max-width: 1100px){
    #title, #subtitle, #swedist{
        display: none;
    }
    #formheading{
        margin-top: 1%;
    }
    .right{
        float: none;
        width: 100%;
        height: 25%;
        animation: none;
        padding: none;
    }
    .left{
        animation: none;
    }
    .form-text{
        animation: none;
    }
    #lifestylecard{
        display: grid;
        grid-template-rows: .1fr .1fr .1fr;
    }
    #lifestyletext{
        grid-row: 2/3;
        margin-bottom: 1%;
        display: block;
    }
    #lifetitle{
        grid-row: 1/2;
    }
    .display-3{
        display: block;
    }
    #calprogress{
        transform: translateY(25%);
    }
    #exercise{
        transform: translateY(80%);
    }
    .exlist{
        display: block;
    }
    .excard{
        display: none;
    }
    #dietcard{
        width: 90%;
    }
    .dieting{
        display: none;
    }
}